extends layout

block content
  .container(ng-controller="main.js")
    .card.card-container
      a(ng-href='/welcome')
        img(ng-src='/img/bunny.png', alt='logo', width='90', height='90')
      p#profile-name.profile-name-card #{title}
      br
      p #{msg}
      .all
        ul.nav
          each event in eventsList
           li
             a(ng-href="#{link}/#{event._id}") #{event.title}
